<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS-->
    <link rel="stylesheet" href="css/style.css">
    <!--Vue Js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Email list</title>
</head>
<body>
    
    <div id="app">
        <h1>Ciao {{ username }}</h1>
        <button @click="generateMail">
            Genera lista di 10 mail random
        </button>
        <ul v-if="mails.length > 9 " v-for="(mail, index) in mails">
            <li>{{ mail }}</li>
        </ul>
        <hr>
    </div>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--JS-->
    <script src="JS/script.js"></script>
</body>
</html>